appdirs==1.4.3
atomicwrites==1.4.0
attrs==20.1.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.0
cssselect==1.1.0
english==2020.7.0
fake-useragent==0.1.11
Flask==1.1.2
Flask-WTF==0.14.3
idna==2.9
importlib-metadata==1.7.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.0
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==8.4.0
neo4j-driver==4.1.0
neotime==1.7.4
packaging==20.4
pansi==2020.7.3
parse==1.15.0
pinyin==0.4.0
pluggy==0.13.1
prompt-toolkit==2.0.10
py==1.9.0
py2neo==2020.0.0
pycparser==2.20
pyee==7.0.1
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyppeteer==0.0.25
pyquery==1.4.1
pytest==6.0.1
pytz==2020.1
pywin32==227
requests==2.23.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0
thulac==0.2.0
toml==0.10.1
tqdm==4.45.0
urllib3==1.25.9
w3lib==1.21.0
wcwidth==0.2.5
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.1.0
